SECRET_KEY="i am sneaky fox"

REDIS_URL="redis://redis:6379"

WEB_DOMAIN="localhost"
WEB_PROTOCOL=http

DB_TYPE=postgres
DB_HOST="db"
DB_USER=my
DB_PASSWORD=my
DB_DATABASE=my

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI=

LLM_API_URL="http://localhost:5602/query"

MINECRAFT_STATUS_URL=
